.App-header {
  display: flex;
  padding: 10px 30px;
  font-size: 30px;
  justify-content: flex-end;
  background-color: grey;
}

.App-table {
  padding: 10px 30px;
}

.App-table > tr > td {
  border: 2px solid black;
}